# Dependencias
node_modules/
package-lock.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Directorios de ambiente local
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Directorios de cobertura
coverage/

# Directorios de construcción/build
dist/
build/
out/

# Archivos del sistema
.DS_Store
Thumbs.db

# Directorios específicos de editores
.idea/
.vscode/
*.swp
*.swo