@use '../base/config' as c;

.alpina-error{
    font: normal normal 400 12px/1  c.$fontP1;
    color: c.$colorP8;
    position: absolute;
    left: 26px;
    bottom: -16px;
    display: none;
    &.active{
        display: block;
    }
}